<!doctype html>
<html>
<head>
  <title>Play Game</title>
</head>
<body>
    <form action="/madlib">
        <label>Person:</label>
        <input type="text" name="person"> <br> <br>
        <label>Color:</label>
        <select name="color">
            <option name="color" value="red">Red</option>
            <option name="color" value="blue">Blue</option>
            <option name="color" value="green">Green</option>
        </select> <br> <br>
        <label>Noun:</label>
        <input type="text" name="noun"> <br> <br> 
        <label>Adjective:</label> 
        <input type="text" name="adjective"> <br> <br>
        <input type="submit">
        <label>Verb</label>
        <input type="checkbox" name="verb1" value="run">Run<br>
        <input type="checkbox" name="verb2" value="jump">Jump<br> 
        <input type="checkbox" name="verb3" value="skip">Skip<br>
    </form>
</body>
</html>